.body-container {
	padding: 20px;
	font-size: 85%;
}

.table-container {
}

 .navbar{
    padding: 15px;
    background-color: #cc99ff !important;
    margin-bottom: 0;
}

.white-text{
      color: white !important;
      font-weight: bold;
}

.myGrid {
      width: 1200px;
      height: 800px;
}

.white-icon{
      color: white !important;
}

.white-icon:hover{
     color: #FF570A !important;
}

/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-customized {
    padding: 14px 24px;
    font-size: 14px;
    line-height: normal;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    }

th {
	text-align: center;
}

h2 {
    color: white;
    font-weight: bold;
}

.purple { color: black;  background-color: #E6E6FA !important; }