.banner {
    width: 100%;
}

.body-container {
    padding: 10px;
    font-size: 85%;
}
.table-container {} .navbar {
    padding: 15px;
    background-color: #26c3ff !important;
    margin-bottom: 0;
}

.organizations-container {
    background: #EEE;
    width: 100%;
    height: 600px;
    overflow: auo;
}

.chart-container {
    background: #fafafa;
}


.organizationSummaryContainer {
    padding: 5px;
    background-color: #26c3ff !important;
    float: left;
    height: 100%;
    width: 50%;
    overflow: auo;
}
.organizationEmptySummaryContainer {
    padding: 25px;
    background-color: #E6E6FA !important;
    float: left;
    height: 100%;
    width: 50%;
    overflow: auo;
}
.organizationMapContainer {
    background-color: #E6E6FA !important;
    float: right;
    height: 100%;
    width: 50%;
}
.organizationList {
    overflow: hidden;
    overflow-y: scroll;
    height: 90%;
    width: 50%;
    float: left;
}
.organizationInfoContainer {
    padding: 15px;
    float: right;
    height: 500px;
    width: 50%;
}
.textInfo {
    padding: 15px !important;
    background-color: white !important;
}
.organizationMap {
    height: 100%;
}
.white-text {
    color: white !important;
    font-weight: bold;
}

.white-icon {
    color: white !important;
}
.white-icon:hover {
    color: #D3D3D3 !important;
}

.btn-customized {
    margin: 3px;
}
th {
    text-align: center;
}
h2 {
    color: white;
    font-weight: bold;
}
h4 {
    margin 0px;
    color: white;
    font-weight: bold;
}
.purple {
    color: black;
    background-color: #E6E6FA !important;
}
.red {
    color: black;
    background-color: #ff7f7f !important;
}

.bold-text {
    font-weight: bold !important;
    font-size: 18px !important;
}
.bold-text-blue {
    font-weight: bold !important;
    font-size: 18px !important;
    color: #26c3ff !important;
}

.chart-text {
    font-size: 22px !important;
}

.list-group {
    margin-bottom: 5px !important;
}

.dl {
    font-size: 14px !important;
}