<!DOCTYPE html>

<html ng-app="artTrackerApp">

<head>
    <title></title>
    <meta charset='utf-8'></meta>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js}"></script>
    <script th:src="@{http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js}"></script>
    <script th:src="@{http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js}"></script>
    <script type="text/javascript" th:src="@{http://code.angularjs.org/1.1.5/angular-sanitize.min.js}"></script>
    <script th:src="@{http://ui-grid.info/release/ui-grid.js}"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" th:src="@{http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js}"></script>
    <script th:src="@{https://cdn.rawgit.com/Textalk/angular-schema-form/0.8.0/dist/schema-form.js}"></script>
    <script th:src="@{https://cdn.rawgit.com/Textalk/angular-schema-form/0.8.0/dist/bootstrap-decorator.js}"></script>
    <script th:src="@{https://cdn.rawgit.com/mike-marcacci/objectpath/v1.1.0/lib/ObjectPath.js}"></script>
    <script th:src="@{https://cdn.rawgit.com/geraintluff/tv4/v1.1.9/tv4.min.js}"></script>
    <script th:src="@{https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js}"></script>
    <script th:src="@{http://maps.google.com/maps/api/js?key=AIzaSyCR4m4Wi7Hw9JRfGmxA0q30IWI-IpmReZg}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js}"></script>
    <script th:src="@{http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/sweetalert2/5.3.2/sweetalert2.min.js}"></script>
    <script th:src="@{js/app.js}"></script>

    <link th:rel="stylesheet" th:href="@{css/style.css}" />
    <link th:rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/sweetalert2/5.3.2/sweetalert2.min.css}" />
    <link th:rel="stylesheet" th:href="@{http://ui-grid.info/release/ui-grid.css}" type="text/css" />
    <link th:rel="stylesheet" th:href="@{//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css}" />
    <link th:rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>

<body>

<header>
    <a href="#sectionTop"><img class="banner" th:src="@{images/img_baltimore_background.JPG}" alt="Baltimore logo" /></a>
    <nav class="navbar">
        <div class="container">
            <div id="sectionTop" class="navbar-header">
                <h3 class="white-text"><i class="fa fa-table white-icon"></i> Museums in Baltimore <a target="_blank" href="http://baltimore.org/es/see-do/museums">Learn About Baltimore's Top
                    Museums</a></h3>
            </div>
        </div>
    </nav>
</header>

<div ng-controller="MuseumController">
    <div class="body-container">

        <h5>*This data set shows the location of museums within the City of Baltimore. You can press "Find art around" in order to see which other art organizations in the zone are near to each museum.</h5>

        <button type="button" id="reset" class="btn btn-info btn-customized" ng-click="retrieveMuseums()">Reload
            Museums
        </button>
        <button type="button" class="btn btn-info btn-customized" style="float: left;" ng-click="hideGrid = !hideGrid">
            {{ hideGrid &amp;&amp; 'Show' || 'Hide' }} Grid
        </button>
        <button type="button" id="addData" class="btn btn-info btn-customized" ng-click="addMuseum()">Add Museum
        </button>

        <a href="#section3" type="button" class="btn btn-success btn-customized"> Show statistics</a>
        <br/><br/><br/>


        <div id="section1" class="table-container" ng-hide="hideGrid">
            <div id="gridMuseum" ui-grid="gridOptions" ui-grid-pagination="true" ui-grid-edit="true" class="grid"></div>
            <p>Current page: {{ gridApi2.pagination.getPage() }} of {{ gridApi2.pagination.getTotalPages() }}</p>
            <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.previousPage()">
                previous page
            </button>
            <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.nextPage()">
                next page
            </button>
            <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.seek(gridApi2.pagination.getTotalPages())">
                go to last page
            </button>
            <br/><br/><br/>
        </div>

        <div  id="section2" class="organizations-container">
            <div ng-hide="hideOrganizations" class="organizationSummaryContainer">
                <h4 class="white-text"><i class="fa fa-building white-icon"></i> {{organizations.length}} Art Organizations found with ZIP CODE: {{selectedZip}}</h4>

                <div class="organizationList ">
                    <ul class="list-group" ng-repeat="organization in organizations">
                        <a ng-click="updateOrganizationInfo(organization)" class="list-group-item list-group-item-info">
                            <h5><i class="fa fa-map-marker white-icon"></i> {{organization.organization}}</h5>
                        </a>
                    </ul>
                </div>
                <div class="organizationInfoContainer">
                    <h4 class="white-text">Organization information:</h4>
                    <div class="textInfo">

                        <dl class="dl">
                            <dt><i class="fa fa-home" aria-hidden="true"></i>
                                Name</dt>
                            <dd>{{selectedOrganization.organization}}</dd>
                            <dt><i class="fa fa-location-arrow" aria-hidden="true"></i>
                                Address</dt>
                            <dd>{{selectedOrganization.address}}</dd>
                            <dt><i class="fa fa-link" aria-hidden="true"></i>
                                Website</dt>
                            <dd>{{selectedOrganization.url}}</dd>
                            <dt><i class="fa fa-map-marker" aria-hidden="true"></i>Position</dt>
                            <dd>{{selectedOrganization.latitude}} , {{selectedOrganization.longitude}}</dd>
                        </dl>

                    </div>
                </div>
            </div>

            <div ng-hide="!hideOrganizations" class="organizationEmptySummaryContainer">
                <h4 >Press "Find art around!" button in some above museum table</h4>
            </div>

            <div id="map" class="organizationMapContainer">
                <map class="organizationMap" center="39.299236, -76.609383" zoom="13">
                    <marker ng-repeat="organization in organizations"
                            position="{{organization.latitude}}, {{organization.longitude}}"></marker>
                </map>
            </div>
        </div>

        <a href="#sectionTop" type="button" class="btn btn-success btn-customized"> Explore other museum</a>

        <br/><br/><br/>

        <div id="section3" class="chart-container">
            <div class="navbar">
                <h4 class="white-text"><i class="fa fa-trello white-icon"></i> Museums and Art Organizations By ZIP CODE

                </h4>
            </div>

            <div class="textInfo">
                <h5 class="bold-text-blue">ZIP CODE {{maxZipCode}}</h5>
                <h5 class="bold-text">with a total of {{maxZipCodeTotal}} Art Places ({{maxZipCodeMuseums}} museums,{{maxZipCodeOrganizations}} organizations) is the most populated art area in Baltimore </h5>
                <h5>*Below chart shows the number of museums and art organizations by Zip Code: </h5>
            </div>


            <canvas class="chart chart--bar ng-isolate-scope" height="250px" width="800px" chart-data="zipCodeData" chart-labels="zipCodeLabels" chart-series="zipCodeSeries">
            </canvas>
            <br/><br/><br/>
        </div>

    </div>
</div>
</body>
<footer>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-footer">
                <div class="col-md-7 col-md-offset-1">
                    <h4 class="white-text">Developer: Sergio Daniel Durán (serch_sddm@outlook.com) - <a target="_blank" href="https://github.com/serchduran/art-tracker"><i
                            class="fa fa-github fa-3x white-icon"></i></a></h4>
                </div>
            </div>
        </div>
    </nav>

</footer>

</html>